
<% layout("/layouts/boilerplate") %>
<div class="row mt-5">
<h1 class="col-6 offset-4">Welcome!</h1> <br> <br>
<p class="col-6 offset-4"><b>Username :</b> <%= currUser.username %></p>
<p class="col-6 offset-4"> <b>E-mail :</b> <%= currUser.email %></p>
</div>